@media (max-width: 500px) {
  .app {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
  }
  .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
  }
  h3 {
    text-align: center;
  }

}

* {
  background-color: #34314c;
}

hr {
  height: 5px;
  color: #34314c;
  background-color: #47b8e0;
  margin-bottom: 10px;
  border-color: #34314c;
}

h1,h3,h4 {
  font-family: 'Unica One', cursive;
  color: #ff7473
}

.appname {
  font-family: 'Vollkorn', serif;
  color: #ffc952
}

.appurl {
  font-family: 'Vollkorn', serif;
  color: #ffc952;
}

.photo {
  padding-bottom: 5px;
}
